[submodule "SDL2"]
	path = SDL2
	url = https://github.com/libsdl-org/SDL.git
	branch = SDL2
[submodule "SDL2_ttf"]
	path = SDL2_ttf
	url = https://github.com/libsdl-org/SDL_ttf
	branch = SDL2
[submodule "SDL2_mixer"]
	path = SDL2_mixer
	url = https://github.com/libsdl-org/SDL_mixer
	branch = SDL2
[submodule "SDL2_image"]
	path = SDL2_image
	url = https://github.com/libsdl-org/SDL_image/
	branch = SDL2
